[submodule "subModule/TIM_stopwatch"]
	path = subModule/TIM_stopwatch
	url = https://gitlab.com/nokolat/Library/tim_stopwatch.git
[submodule "subModule/ICM20948"]
	path = subModule/ICM20948
	url = https://github.com/NOKOLat/ICM20948.git
[submodule "subModule/I2C_DMA_Handler"]
	path = subModule/I2C_DMA_Handler
	url = https://github.com/NOKOLat/I2C_DMA_Handler.git
[submodule "subModule/Madgwick"]
	path = subModule/Madgwick
	url = https://github.com/NOKOLat/Madgwick.git
